# VSCode
.vscode
report/output

# C++
**/*.o
**/*.out

# Makefile's output.
**/executables
**/objects

# Executables' output.
**/output

# Python
**/__pycache__

# polyplot.py
/*.poly

# solplot.py
/*.sol

# Others
**/*.DS_Store
**/.DS_Store